# App and server config
SPRING_APPLICATION_NAME=authservice
SERVER_PORT=6001
CORS_ALLOWED_ORIGINS=http://localhost:6080,http://localhost:8080,http://react-service
LOGGING_LEVEL=INFO
# Set false only for local HTTP development
COOKIE_SECURE=true

# DB Config
SPRING_DATASOURCE_URL=jdbc:postgresql://auth-db:5432/authservice
SPRING_DATASOURCE_DRIVER=org.postgresql.Driver
POSTGRES_USER=change-me
POSTGRES_PASSWORD=change-me
POSTGRES_DB=authservice

# JPA / Hibernate
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true
SPRING_JPA_DATABASE=postgresql
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect

# JWT keys
# Generate these secret keys with the following linux shell commands:
# openssl genpkey -algorithm RSA -pkeyopt rsa_keygen_bits:3072 -out jwt-private.pem
# openssl pkcs8 -topk8 -nocrypt -in jwt-private.pem -outform DER | base64 -w0
# openssl pkey -in jwt-private.pem -pubout -outform DER | base64 -w0
JWT_PRIVATE_KEY=change-me
JWT_PUBLIC_KEY=change-me
JWT_ISSUER=msinit-authservice

# Encryyption key
# Generate this secret key with the following linux shell command: head /dev/urandom | tr -dc A-F0-9 | head -c32
ENCRYPTION_KEY=change-me

# Initial super user credentials locations
INITIAL_SUPER_CREDENTIALS_DIRECTORY=./bootstrap-credentials
INITIAL_SUPER_CREDENTIALS_FILE=/bootstrap/initial-super-user.txt

# Initial super user credentials - Leave blank in production so a random initial account is generated.
INITIAL_SUPER_USERNAME=
INITIAL_SUPER_PASSWORD=

# Service accounts
# Generate these secret keys with the following linux shell command: head /dev/urandom | tr -dc A-F0-9 | head -c32
SERVICE_ACCOUNTS=auth,email,file,vault,test
SERVICE_SECRET_AUTH=change-me
SERVICE_SECRET_EMAIL=change-me
SERVICE_SECRET_FILE=change-me
SERVICE_SECRET_VAULT=change-me
SERVICE_SECRET_TEST=change-me
